        {{>header}}
        {{>banner}}

            <div class="container">
    <div class="row">
        <div class="col-lg-8">

                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href=""><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2021</div>
                            <h2 class="card-title">Featured Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <h4>Blog</h4>
                        {{#each courses}}
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="/blog/{{this.slug}}"><img class="card-img-top" src="{{this.img}}" alt="{{this.title}}" /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{this.createdAt}}</div>
                                     <a href="/blog/{{this.slug}}">
                            <div class="card-title">
                                <h4>{{this.title}}</h4></div>
                            </a>
                            <p class="card-text">{{this.desc}}</p>
                                </div>
                            </div>
                        </div>
                         {{/each}}
                    </div>
                    <!-- Pagination-->
                    {{!-- <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav> --}}
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Tìm kiếm</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Tìm kiếm...." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Bài viết mới nhất</div>
                        <div class="card-body">
                            <div class="row">
                                {{#each courses}}
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="/blog/{{this.slug}}">{{this.title}}</a> </li><br></li>
                                    </ul>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Bài viết nhiều lượt xem nhất</div>
                        <div class="card-body">Demo
                </div>
            </div>
        </div>
{{> footer}}


