<div class="hold-transition sidebar-mini layout-fixed">
{{>admin-header}}
{{>admin-sidebar}}
<div class="content-wrapper">

  <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Danh sách bài đã xóa ( Blog )</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item active">Danh sách bài đã xóa Blog</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
 <div class="container-fluid">
<div class="row">
  <div>
    <a href="/me/stored/courses">Quay lại</a>
  </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên khóa</th>
      <th scope="col">Mô tả</th>
      <th scope="col">Thời gian xóa</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      {{#each courses}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.desc}}</td>
      <td>{{this.deletedAt}}</td>
      <td>
          <a class="btn btn-primary btn-restore" href="" data-id="{{this._id}}">Khôi phục</a>
          <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-course-modal" data-id="{{this._id}}" >Xóa vĩnh viễn</a>
      </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="5" class="text-center">
        Thùng rác trống.
        <a href="/me/stored/courses">Danh sách khóa học</a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{! }}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button"  class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>
</div>
</div>
{{! -- Delete hidden form --}}
  <form name="delete-course-form" method="POST" ></form>
    <form name="restore-course-form" method="POST" ></form>
<script>
  document.addEventListener('DOMContentLoaded', function(){
  var courseId;
  var deleteForm = document.forms['delete-course-form'];
  var restoreForm = document.forms['restore-course-form'];
  var btnDeleteCourse = document.getElementById('btn-delete-course');
  var restoreBtn = $('.btn-restore');
   //When dialog confirm clicked
    $('#delete-course-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var courseId = button.data('id');
   btnDeleteCourse.onclick = function(){
    deleteForm.action = '/blog/'  + courseId +  '/force?_method=DELETE' ;
    deleteForm.submit();
  }

  });

   //restore btn clicked
  restoreBtn.click(function(e) {
    e.preventDefault();
    var courseId = $(this).data('id');
    restoreForm.action = '/blog/'  + courseId +  '/restore?_method=PATCH' ;
    restoreForm.submit();
  });
});

</script>